@inherits LayoutComponentBase

<header>
    <div class="top-bar-box">
        <section class="top-bar-section">
            <nav class="toolbar-items">
                <div class="toolbar-item-left">
                    <button class="navbar-toggler" type="button">
                        <span class="bi bi-list icon-bootstrap"></span>
                    </button>

                    <button class="navbar-toggler" type="button">
                        <span class="bi bi-search icon-bootstrap lupa"></span>
                    </button>
                </div>

                <h1 class="tool-bar-title">
                    <span class="tool-bar-tile-text">Workspace</span>
                </h1>

                <div class="toolbar-item-right">
                    <button class="navbar-toggler" type="button">
                        <span class="bi bi-grid-fill icon-bootstrap"></span>
                    </button>
                    <button class="navbar-toggler" type="button">
                        <span class="bi bi-three-dots-vertical icon-bootstrap"></span>
                    </button>
                </div>
            </nav>
        </section>
    </div>
</header>

<div class="container">
    @Body
</div>
    
<div id="create-select-buttons"> 
    <button class="navbar-toggler" type="button">
        <span class="bi bi-check-square icon-bootstrap-select"></span>
    </button>

    <button class="navbar-toggler" type="button">
        <span class="bi bi-plus-square icon-bootstrap-add"></span>
    </button>
</div>
