body {
    font-family: 'Arial', sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
    .header-box {
        display: flex;
        align-content: center;
        text-align: center;
    }
        .header-box h1 {
            margin: 0;
            font-size: 14px;
            color: #767676;
        }

.visual-mode {
    display: flex;
}


/*#searchBar-box {
    display: flex;
}*/