:root {
    --color-background: #222;
    --color-contrast: #652CB3;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: var(--color-background);
    height: 100vh;
}

.icon-bootstrap {
    color: white;
    font-size: 1.4rem;
    padding: 5px;
    display: flex;
    align-content: center;
    transition: .2s;
}

.icon-bootstrap:hover {
    background-color: black;
    border-radius: 10%;
}
    .icon-bootstrap.lupa{
        font-size: 1.3rem;
    }

.navbar-toggler {
    margin: 10px;
}

.top-bar-box {
    justify-content: inherit;
    padding: 0px 16px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 64px;
    justify-content: space-between;
    box-shadow: 0px -16px 20px 6px black;
}

.top-bar-section {
    padding: 0px 16px;
    flex: 1 !important;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
}

.toolbar-items {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    position: relative;
    align-items: center;
}
    .toolbar-items .toolbar-item-left {
        display: flex;
        align-items: center;
    }

    .toolbar-items .tool-bar-title {
        margin: 0;
        display: flex;
        flex: 1 !important;
        justify-content: space-around;
        align-items: center;
    }
        .toolbar-items .tool-bar-title span {
            background-color: rgb(0, 0, 0, 0.6);
            padding: 2px 18px;
            border-radius: 25px;
            font-size: 19px;
            color: rgb(196, 196, 196);
        }

.toolbar-items .toolbar-item-right {
    display: flex;
}
    .toolbar-items .toolbar-item-right .visu-tg-box {
        display: flex;
        position: relative;
        background-color: white;
        cursor: pointer;
        border-radius: 5px;
    }
        .toolbar-items .toolbar-item-right .visu-tg-box .icon-bootstrap {
            z-index: 3;
        }

        .toolbar-items .toolbar-item-right .visu-tg-box .icon-list {
            color: white;
        }

        .toolbar-items .toolbar-item-right .visu-tg-box .icon-bootstrap:hover {
            background-color: transparent;
        }

        .toolbar-items .toolbar-item-right .visu-tg-box .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--color-background);
            -webkit-transition: .4s;
            transition: .4s;
            width: 50%;
            height: 100%;
            border-radius: 0 4.4px 4.4px 0;
            z-index: 2;
        }



        .toolbar-items .toolbar-item-right .visu-tg-box span {
            color: black;
        }

    .toolbar-items .toolbar-item-right .visu-tg-box input {
        display: none;
    }
        .toolbar-items .toolbar-item-right .visu-tg-box input:checked ~ .slider {
            transform: translateX(32.8px);
            border-radius: 4.4px 0 0 4.4px;
        }

        .toolbar-items .toolbar-item-right .visu-tg-box input:checked ~ .icon-grid {
            color: white;
        }

        .toolbar-items .toolbar-item-right .visu-tg-box input:checked ~ .icon-list {
            color: black;
        }

#create-select-buttons {
    color: white;
    display: flex;
    position: fixed;
    right: 50px;
    bottom: 56px;
}
    #create-select-buttons .select-icon {
        display: flex;
        align-items: center;
    }
        #create-select-buttons .icon-bootstrap-add {
            font-size: 3rem;
        }

        #create-select-buttons .icon-bootstrap-select {
            font-size: 2.2rem;
        }

#more-button,
#ordenar-collapse {
    display: none;
}

.more-menu label {
    width: 100%;
}

.more-menu-box {
    position: fixed;
    background-color: var(--color-background);
    box-shadow: 0px 0px 5px black;
    right: 50px;
    top: 50px;
    border-radius: 15px;
    justify-content: left;
    z-index: 1000;

    transition: .1s;
    transform: scale(0);
    transform-origin: top right;
    visibility: hidden;
}
    .more-menu-box .more-menu {
        user-select: none;
    }
        .more-menu-box .more-menu .menu-collapse-container {
            
        }
            .more-menu-box .more-menu .more-menu-item {
                display: flex;
                justify-content: left;
                align-items: center;
                /*margin: 10px 0px;*/
                padding: 10px;
                transition: 0.3s;
                cursor: pointer;
                border-radius: 0 0 15px 15px;
            }

            .more-menu-box .more-menu .more-menu-item:first-of-type {
                border-radius: 15px 15px 0px 0px;
            }

            .more-menu-box .more-menu .more-menu-item:hover {
                background-color: black;
            }
                .more-menu-box .more-menu .more-menu-item .item-span {
                    /*margin: 0px 15px;*/
                }

        .more-menu-box .more-menu .icon-more-menu {
            padding: 0;
            margin: 0px 15px;
        }

.item-span.order {
    margin-right: 0px;
}

#more-button:checked ~ .more-menu-box {
    visibility: visible;
    display: block;
    transform: scale(1.2);
}

.menu-collapse-box {
    padding: 0 10px;
    height: 0px;
    width: 100%;
    transition: .1s;
    font-size: 0px;
    transform-style: revert-layer;
    border-bottom: 0px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    .menu-collapse-box .menu-collapse {
        text-align: left;
        user-select: none;
        cursor: pointer;
        border-radius: 15px;

    }
        .menu-collapse-box .menu-collapse:hover {
            background-color: black;
        }

#ordenar-collapse:checked ~ .menu-collapse-box {
    height: 75px;
    font-size: initial;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#ordenar-collapse:checked ~ .menu-collapse-box .menu-collapse{
    padding: 5px;
}

.item-span.order .icon-more-menu::before {
    transition: .5s;
}

#ordenar-collapse:checked ~ .more-menu-item .item-span.order .icon-more-menu::before {
    transform: rotateX(180deg) rotateY(180deg);
}

.more-menu-box .more-menu .more-menu-item.collapse {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.navbar-nav .workspace-info-container {
    width: 70%;
}
    .navbar-nav .workspace-info-container .workspace-info {
        display: flex;
        color: white;
        padding-left: 10px;
        background-color: white;
        border-radius: 15px;
        margin: 10px;
        justify-content: space-between;
    }
        .navbar-nav .workspace-info-container .workspace-info .nav-link.active {
            color: black;
            font-size: 1.3rem;
            font-style: italic;
            font-weight: 600;
        }

        .workspace-info-container .workspace-info .btn-more-options {
            background-color: transparent;
            border: none;
            padding: 0;
            margin-inline: 2px;
        }
            .workspace-info-container .workspace-info .btn-more-options span {
                color: black;
            }
                .workspace-info-container .workspace-info .btn-more-options span:hover {
                    background-color: rgb(0, 0, 0, 0.1);
                }