@page "/"
@using Notes.Data
@using System.Linq
@inject NoteService NoteService
@inject Pages.Services.AppData AppData

<PageTitle>Notes</PageTitle>

@* <div class="container-card">
    <div class="item-container">
        <div class="card-new-note">
            <h3>Adicione uma nota, em uma nova área</h3>
        </div>

        <div class="add-box">
            <button class="navbar-toggler" type="button">
                <span class="bi bi-plus-square icon-bootstrap-add"></span>
            </button>
        </div>
    </div>
</div> *@
