@page "/"

@inject PushNotification PushNotification


<PageTitle>Notes</PageTitle>

<button @onclick="PushNotification.RequestNotificationPermission">Pedir permissão para notificações</button>
<button @onclick="PushNotification.SendImmediateNotification">Enviar notificação imediata</button>

@code {
    
}
